doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	title Astriarch - Ruler of the Stars, space strategy game
	link(type='text/css', href='css/custom-theme/jquery-ui-1.8.16.custom.css', rel='stylesheet')
	link(type='text/css', href='css/js-listbox-style.css', rel='stylesheet')
	link(type='text/css', href='css/jquery.ui.selectmenu.css', rel='stylesheet')
	script(type='text/javascript', src='js/jquery-1.7.1.min.js')
	script(type='text/javascript', src='js/jquery-ui-1.8.16.custom.min.js')
	script(type='text/javascript', src='js/js-inherit.js')
	script(type='text/javascript', src='js/jCanvas.js')
	script(type='text/javascript', src='js/js-listbox.js')
	script(type='text/javascript', src='js/jquery.ui.selectmenu.js')
	script(type='text/javascript', src='js/audio-interface.js')
	script(type='text/javascript', src='js/astriarch/astriarch_base.js')
	script(type='text/javascript', src='js/astriarch/astriarch_globals.js')
	script(type='text/javascript', src='js/astriarch/astriarch_view.js')
	script(type='text/javascript', src='js/astriarch/astriarch_grid.js')
	script(type='text/javascript', src='js/astriarch/astriarch_hexagon.js')
	script(type='text/javascript', src='js/astriarch/astriarch_model.js')
	script(type='text/javascript', src='js/astriarch/astriarch_player.js')
	script(type='text/javascript', src='js/astriarch/astriarch_planet.js')
	script(type='text/javascript', src='js/astriarch/astriarch_fleet.js')
	script(type='text/javascript', src='js/astriarch/astriarch_turneventmessage.js')
	script(type='text/javascript', src='js/astriarch/astriarch_battlesimulator.js')
	script(type='text/javascript', src='js/astriarch/astriarch_ai.js')
	script(type='text/javascript', src='js/astriarch/astriarch_drawnplanet.js')
	script(type='text/javascript', src='js/astriarch/astriarch_drawnfleet.js')
	script(type='text/javascript', src='js/astriarch/astriarch_dialog.js')
	script(type='text/javascript', src='js/astriarch/astriarch_gamecontroller.js')
	script(type='text/javascript', src='js/astriarch/astriarch_planetview.js')
	script(type='text/javascript', src='js/astriarch/astriarch_sendshipscontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_planetaryconflictcontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_gameovercontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_alert.js')
	script(type='text/javascript', src='js/astriarch/astriarch_localstorageinterface.js')
	script(type='text/javascript', src='js/astriarch/astriarch_savedgameinterface.js')

	script(type='text/javascript', src='js/astriarch/astriarch_lobbycontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_newgamecontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_endturncontrol.js')
	script(type='text/javascript', src='js/astriarch/astriarch_clientmodel.js')
	script(type='text/javascript', src='js/astriarch/astriarch_shared.js')
	//
		<script type="text/javascript" src="astriarch.js"></script>

	script(src="/js/server_comm.js")
	style(type='text/css').
		* {
			margin: 0;
			padding: 0;
		}
		html {
			height: 100%;
			width: 100%
		}
		body {
			height: 100%;
			width: 100%;
			background: #000 url("site/tile-bg.png") repeat top center;
			/*  Webkit */
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			/*  Mozilla */
			display: -moz-box;
			-moz-box-orient: horizontal;
			-moz-box-pack: center;
			-moz-box-align: center;
			/*  Standard */
			display: box;
			box-orient: horizontal;
			box-pack: center;
			box-align: center;
			/*
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			*/
		}
		img {
			border: 0px;
		}
		#gameElementsContainer
		{
		}
		a:focus, a:hover, a:active { outline:none }
		:focus {outline:none;}
		::-moz-focus-inner {border:0;}
		.ui-selectmenu
		{
			font-size: 12px !important;
			height: 2em;
			text-align: left;
		}
		.ui-widget
		{
			font-size: 75%;
			/*font-family: Lucida Sans Unicode,Veranda,Lucida Grande,Lucida Sans,Helvetica,Arial,sans-serif;
			font-weight: bold;*/
			font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
		}
		.ui-widget .ui-widget
		{
			font-size: 1em;
			font-size: 95%;
		}
		/* fix size of icon only jquery ui buttons */
		.ui-button-icon-only
		{
			width: 24px;
			height:24px;
		}
		body, .defaultFont
		{
			/*font-family: Lucida Sans Unicode,Veranda,Lucida Grande,Lucida Sans;*/
			font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
			/*disable text selection*/
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			outline:none;
		}
		table, td, tr, thead, tfoot, tbody, th, tf {
			table-layout:fixed;
			border-collapse: collapse;
			margin: 0px;
			padding: 0px;
			border:0;
		}
		td > span, td > img {
			display: block;
		}
		#GameNameTextBox
		{
			background-color:#595959;
			color:white;
			border: 1px solid #333;
			font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
		}
		#PlayerNameTextBox
		{
			background-color:#595959;
			color:white;
			border: 1px solid #333;
			font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
		}
		#canvasAstriarchBackground
		{
			position:absolute;
			left:0;
			top:0;
			z-index:0;
			background-color:black;
		}
		#canvasAstriarchPlayfield
		{
			position:absolute;
			top:5px;
			/*right:8px;*/
			left:177px;
			/*bottom:115px;*/
			z-index:1;
		}
		#gameControls
		{
			position:absolute;
			left:0;
			top:0;
			z-index:100;
			width: 800px;
			height: 600px;
		}
		#mainMenu,
		#startGameOptionsContainer,
		#TurnDisplay,
		#OverallPlayerStatusGrid,
		#SelectedItemPopulationPanel,
		#SelectedItemImprovementSlotsPanel,
		#SelectedItemPopulationAssignmentsPanel,
		#SelectedItemBuiltImprovementsGrid,
		#SelectedItemPlanetaryFleetGrid,
		#BottomStatusGrid,
		#ButtonPanel
		{
			display:none;
		}
		.greenText
		{
			color: green;
			font-family: "Courier New";
		}
		.playerStatusText
		{
			text-align:right;
			font-weight:bold;
			font-size:20pt;
		}
		.planetStatusTextCentered
		{
			text-align:center;
			font-weight:bold;
			font-size:20pt;
		}
		.planetStatusTextSmallCentered
		{
			text-align:center;
			font-weight:bold;
			font-size:14pt;
		}
		.playerStatusTextRight{
			text-align:right;
			font-weight:bold;
			font-size:20pt;
		}
		.smallStatusText
		{
			font-size:10pt;
			font-weight:bold;
		}
		.popImg, .asnImg
		{
			width: 10px;
			height: 16px;
		}
		.impImg
		{
			width: 16px;
			height: 16px;
		}
		.icon_demolish
		{
			background-image: url("img/ico_delete.png") !important;
			width: 16px;
			height: 16px;
		}
		.icon_build_queue_add
		{
			background-image: url("img/ico_add.png") !important;
			width: 16px;
			height: 16px;
		}
		.icon_build_queue_remove
		{
			background-image: url("img/ico_remove.png") !important;
			width: 16px;
			height: 16px;
		}
		.icon_build_queue_down
		{
			background-image: url("img/ico_down.png") !important;
			width: 16px;
			height: 16px;
		}
		.icon_build_queue_up
		{
			background-image: url("img/ico_up.png") !important;
			width: 16px;
			height: 16px;
		}
		.MainMenuButton
		{
			background-image: url("img/ico_main_menu.png") !important;
			width: 16px;
			height: 16px;
		}
		#MainMenuIcon
		{
			background-image: url("img/ico_main_menu.png") !important;
			width: 16px;
			height: 16px;
			margin-left: 6px;
			margin-bottom: 4px;
		}
		#SpeakerIcon
		{
			background-image: url("img/ico_speaker_on.png");
			width: 16px;
			height: 16px;
			margin-left: 6px;
			margin-bottom: 4px;
		}
		.SpeakerImgOn
		{
			background-image: url("img/ico_speaker_on.png") !important;
			width: 16px;
			height: 16px;
		}
		.SpeakerImgOff
		{
			background-image: url("img/ico_speaker_off.png") !important;
			width: 16px;
			height: 16px;
		}
		#SliderVolume
		{
			position: absolute;
			bottom: 44px;
			left: 48px;
			display: none;
			height: 100px;
			z-index: 2000;
		}
		#BuildLastShipCheckBoxLabel, .ui-checkbox
		{
			vertical-align:top;
			font-size:11px;
		}
	script(type='text/javascript').
		$(document).ready(function() {
			window.name = "astriarch-home";

		});

		//global "events"
		var AstriarchExtern = {	};

		AstriarchExtern.OnGameStart = function(data) {
			//{'Players':#, 'PlanetsPerSystem':#, 'Systems':#}
			_gaq.push(['_trackEvent', 'Astriarch', 'Game Started', 'Players', data.Players]);
			_gaq.push(['_trackEvent', 'Astriarch', 'Game Started', 'Planets Per System', data.PlanetsPerSystem]);
			_gaq.push(['_trackEvent', 'Astriarch', 'Game Started', 'Systems', data.Systems]);
			};

			AstriarchExtern.OnGameOver = function(data) {
			//{'PlayerWon':true|false, 'Turns':#, 'Score':#}
			if(data.PlayerWon)
			_gaq.push(['_trackEvent', 'Astriarch', 'Game Over', 'Player Won', data.Score]);
			else
			_gaq.push(['_trackEvent', 'Astriarch', 'Game Over', 'Player Lost', data.Score]);

			_gaq.push(['_trackEvent', 'Astriarch', 'Game Over', 'Turns Played', data.Turns]);
			};
	body
		//
			<div style="position: relative;">
			<canvas id="canvasAstriarchBackground" width="800" height="600"></canvas>
			<canvas id="canvasAstriarchPlayfield" width="615" height="480"></canvas>
			</div>

		table
			tr
				td(colspan='3')
			tr
				td
					// left sidebar
				td
					#gameElementsContainer(style='position: relative; width: 800px; height: 600px;')
						#canvasContainer(style='position: relative;')
						#loadingSpinner(style='position: absolute; width: 160px; height: 100px; left: 320px; top: 270px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 2002;')
							table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 30012;')
								tr(height='25')
									td(width='150', align='center')
										span(style='text-align: center;') Loading...
								tr(height='75')
									td(width='150', align='center')
										img(src='img/spinner-green.gif')
						#mainMenu(style='position: absolute; width: 640px; height: 400px; left: 80px; top: 120px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 2001;')
							table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 3001;')
								tr(height='25')
									td(width='630', align='center', colspan='2')
										span(style='text-align: center;') Welcome to Astriarch - Ruler of the Stars
								tr(height='315')
									td(width='315', align='center')
										#GamesAvailableListBox(style='height: 310px;')
									td(width='315', align='center')
										#GameSelectedPanel(style='height: 310px;')
											#GameSelectedDetails(style='height: 290px;')
												#GameSelectedName(style='height: 30px;')
												#GameSelectedHostName(style='height: 30px;')
												#GameSelectedPlayerSummary(style='height: 30px;')
												#GameSelectedPlayer2Details(style='height: 30px;')
												#GameSelectedPlayer3Details(style='height: 30px;')
												#GameSelectedPlayer4Details(style='height: 30px;')
												#GameSelectedNumberOfSystems(style='height: 30px;')
												#GameSelectedPlanetsPerSystem(style='height: 30px;')
												#GameSelectedDateCreated(style='height: 30px;')
								tr(height='50')
									td(width='315', align='center')
										button#NewSkirmishGameButton(style='font-size: 12px;', width='100') New Game
									td(width='315', align='center')
										button#JoinGameButton(style='font-size: 12px;', width='100') Join Game
						#startGameOptionsContainer(style='position: absolute; width: 640px; height: 400px; left: 80px; top: 120px; color: white; font-size: 12px; background-color: gray; opacity: 0.8; z-index: 2000;')
							table(cellpadding='0', cellspacing='0', style='position: absolute; left: 5px; right: 5px; top: 5px; bottom: 5px; z-index: 3000;')
								tr(height='50')
									td(width='630', colspan='3')
										div(style='text-align: center;') New Skirmish Game
										div(style='text-align: center;') Please enter your name and choose the desired game settings.
								tr(height='30')
									td(width='210')
										label(style='width: 75px;')
											| Game Name:
									td(width='420', colspan='2')
										input#GameNameTextBox(type='text', value='New Game', style='width: 207px;')
								tr(height='30')
									td(width='210')
										label(style='width: 75px;')
											| Your Name:
									td(width='420', colspan='2')
											input#PlayerNameTextBox(type='text', value='Player1', style='width: 207px;')
								tr(height='30')
									td(width='210')
										label#NumberOfSystemsPanel
											| Number of Systems:
									td(width='420', colspan='2')
										select#NumberOfSystemsComboBox
											option(value='2') 2
											option(value='3') 3
											option(value='4', selected='true') 4
								tr(height='30')
									td(width='210')
										label#PlanetsPerSystemPanel
											| Planets Per System:
									td(width='420', colspan='2')
										select#PlanetsPerSystemComboBox
											option(value='4') 4
											option(value='5') 5
											option(value='6') 6
											option(value='7') 7
											option(value='8') 8
								tr(height='40')
									td(width='210')
										label
											| Player 1:
									td(width='210')
										label#Player1NamePanel
											| You
									td(width='215', rowspan='4')
										img(src='img/starfield3.png', width='200', height='170')
								tr(height='40')
									td(width='210')
										div.Player2Panel
											label
												| Player 2:
									td(width='210')
										div.Player2Panel
											span#Player2NamePanel
											div#Player2OptionsBox
								tr(height='40')
									td(width='210')
										div.Player3Panel
											label
												| Player 3:
									td(width='210')
										div.Player3Panel
											span#Player3NamePanel
											div#Player3OptionsBox
								tr(height='40')
									td(width='210')
										div.Player4Panel
											label
												| Player 4:
									td(width='210')
										div.Player4Panel
											span#Player4NamePanel
											div#Player4OptionsBox
								tr(height='40')
									td(width='630', colspan='3', align='center')
										button#StartGameOptionsOkButton(width='150', style='font-size: 12px;') Start Game
						#SliderVolume
						#AstriarchAlertBox(style='display: none; height: 100px;')
						#gameControlsContainer(style='position: relative; background-color: blue;')
							#gameControls
								table#gameGrid(cellpadding='0', cellspacing='0', style='position: absolute; left: 8px; right: 8px; top: 5px; bottom: 5px; z-index: 1001;')
									tr(height='590')
										td(width='169', valign='top')
											// left hand status panel
											table.greenText(cellpadding='0', cellspacing='0')
												tr
													td
														img(src='img/SystemMasterLogo.png')
												tr(height='16')
													td
														span#TurnDisplay.smallStatusText Turn 1, Year 3001
												tr
													td
														table#OverallPlayerStatusGrid(cellpadding='0', cellspacing='0', style='text-align: right;')
															tr(height='32')
																td(width='32')
																	img(src='img/PopulationLarge.png', title='Total Population')
																td(width='128')
																	span#TextBlockPopulationAmount.playerStatusText(title='Total Population')
															tr(height='32')
																td(width='32')
																	img(src='img/FoodLarge.png', title='Food Amount')
																td(width='128')
																	span#TextBlockFoodAmount.playerStatusText(title='Food Amount')
															tr(height='32')
																td(width='32')
																	img(src='img/GoldLarge.png', title='Gold Amount')
																td(width='128')
																	span#TextBlockGoldAmount.playerStatusText(title='Gold Amount')
															tr(height='32')
																td(width='32')
																	img(src='img/OreLarge.png', title='Ore Amount')
																td(width='128')
																	span#TextBlockOreAmount.playerStatusText(title='Ore Amount')
															tr(height='32')
																td(width='32')
																	img(src='img/IridiumLarge.png', title='Iridium Amount')
																td(width='128')
																	span#TextBlockIridiumAmount.playerStatusText(title='Iridium Amount')
												tr(height='64')
													td
														span#SelectedItemStatus.smallStatusText(style='height: 64px;')
												tr(height='16')
													td
														table#SelectedItemPopulationPanel(cellpadding='0', cellspacing='0')
															tr
																td(width='10')
																	#PopulationImage1.popImg
																td(width='10')
																	#PopulationImage2.popImg
																td(width='10')
																	#PopulationImage3.popImg
																td(width='10')
																	#PopulationImage4.popImg
																td(width='10')
																	#PopulationImage5.popImg
																td(width='10')
																	#PopulationImage6.popImg
																td(width='10')
																	#PopulationImage7.popImg
																td(width='10')
																	#PopulationImage8.popImg
																td(width='10')
																	#PopulationImage9.popImg
																td(width='10')
																	#PopulationImage10.popImg
																td(width='10')
																	#PopulationImage11.popImg
																td(width='10')
																	#PopulationImage12.popImg
																td(width='10')
																	#PopulationImage13.popImg
																td(width='10')
																	#PopulationImage14.popImg
																td(width='10')
																	#PopulationImage15.popImg
																td(width='10')
																	#PopulationImage16.popImg
												tr(height='16')
													td
														table#SelectedItemImprovementSlotsPanel(cellpadding='0', cellspacing='0')
															tr
																td(width='16')
																	#PlanetaryImprovementSlotsImage1.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage2.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage3.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage4.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage5.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage6.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage7.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage8.impImg
																td(width='16')
																	#PlanetaryImprovementSlotsImage9.impImg
												tr(height='16')
													td
														table#SelectedItemPopulationAssignmentsPanel(cellpadding='0', cellspacing='0')
															tr
																td(width='10')
																	#PopulationAssignmentImage1.asnImg
																td(width='10')
																	#PopulationAssignmentImage2.asnImg
																td(width='10')
																	#PopulationAssignmentImage3.asnImg
																td(width='10')
																	#PopulationAssignmentImage4.asnImg
																td(width='10')
																	#PopulationAssignmentImage5.asnImg
																td(width='10')
																	#PopulationAssignmentImage6.asnImg
																td(width='10')
																	#PopulationAssignmentImage7.asnImg
																td(width='10')
																	#PopulationAssignmentImage8.asnImg
																td(width='10')
																	#PopulationAssignmentImage9.asnImg
																td(width='10')
																	#PopulationAssignmentImage10.asnImg
																td(width='10')
																	#PopulationAssignmentImage11.asnImg
																td(width='10')
																	#PopulationAssignmentImage12.asnImg
																td(width='10')
																	#PopulationAssignmentImage13.asnImg
																td(width='10')
																	#PopulationAssignmentImage14.asnImg
																td(width='10')
																	#PopulationAssignmentImage15.asnImg
																td(width='10')
																	#PopulationAssignmentImage16.asnImg
												tr
													td
														table#SelectedItemBuiltImprovementsGrid(cellpadding='0', cellspacing='0', style='text-align: center;')
															tr(height='32')
																td(width='32')
																	img(src='img/FarmLarge.png', title='Farm Count')
																td(width='32')
																	img(src='img/MineLarge.png', title='Mine Count')
																td(width='32')
																	img(src='img/FactoryLarge.png', title='Factory Count')
																td(width='32')
																	img(src='img/ColonyLarge.png', title='Colony Count')
																td(width='32')
																	img(src='img/SpaceplatformLarge.png', title='Space Platform Count')
															tr(height='32')
																td(width='32')
																	span#TextBlockFarmCount.planetStatusTextCentered(title='Farm Count')
																td(width='32')
																	span#TextBlockMineCount.planetStatusTextCentered(title='Mine Count')
																td(width='32')
																	span#TextBlockFactoryCount.planetStatusTextCentered(title='Factory Count')
																td(width='32')
																	span#TextBlockColonyCount.planetStatusTextCentered(title='Colony Count')
																td(width='32')
																	span#TextBlockSpacePlatformCount.planetStatusTextCentered(title='Space Platform Count')
												tr
													td
														table#SelectedItemPlanetaryFleetGrid(cellpadding='0', cellspacing='0', style='text-align: center;')
															tr(height='32')
																td(width='32')
																	img(src='img/DefenderLarge.png', title='Defender Count')
																td(width='32')
																	img(src='img/ScoutLarge.png', title='Scout Count')
																td(width='32')
																	img(src='img/DestroyerLarge.png', title='Destroyer Count')
																td(width='32')
																	img(src='img/CruiserLarge.png', title='Cruiser Count')
																td(width='32')
																	img(src='img/BattleshipLarge.png', title='Battleship Count')
															tr(height='32')
																td(width='32')
																	span#TextBlockDefenderCount.planetStatusTextSmallCentered(title='Defender Count')
																td(width='32')
																	span#TextBlockScoutCount.planetStatusTextSmallCentered(title='Scout Count')
																td(width='32')
																	span#TextBlockDestroyerCount.planetStatusTextSmallCentered(title='Destroyer Count')
																td(width='32')
																	span#TextBlockCruiserCount.planetStatusTextSmallCentered(title='Cruiser Count')
																td(width='32')
																	span#TextBlockBattleshipCount.planetStatusTextSmallCentered(title='Battleship Count')
												tr
													td
														table#BottomStatusGrid(cellpadding='0', cellspacing='0')
															tr(height='14')
																td(colspan='2')  
															tr(height='32')
																td(width='32')
																	span#MainMenuIcon(title='Main Menu')
																	button#MainMenuButton(width='24', height='24', title='Main Menu', style='display: none;') Main Menu
																td(width='32')
																	span#SpeakerIcon(title='Mute Audio')
																	button#ButtonSpeakerToggleMute(width='24', height='24', title='Mute Audio', style='display: none;') STM
																td
																	span#SystemMasterVersion.defaultFont(title='', style='font-size: 9pt; font-weight: bold; color: darkgreen; padding-left: 5px;')
										// end left hand status panel
										td(width='615')
											table(cellpadding='0', cellspacing='0')
												tr(height='480')
													td(width='615')
														#canvasMouseHitDetector(style='width: 615px; height: 480px; background-color: black; opacity: 0;')
												tr(height='80')
													td
														#TurnSummaryItemsListBox(style='height: 80px;')
												tr(height='30')
													td
														#ButtonPanel
															button#PlanetViewButton(width='100') Planet View
															button#SendShipsButton(width='100') Send Ships
															button#NextTurnButton(width='100') Next Turn
															span#SendShipsStatus.defaultFont(style='color: yellow; font-size: 14px;')
															button#CancelSendButton(width='100') Cancel Send Ships
															button#MainMenuButtonGameOver(width='75') Main Menu
					#planetViewDialog(style='width: 560px; height: 360px; display: none;')
						table#planetViewGrid(cellpadding='0', cellspacing='0')
							tr(height='360')
								td(width='160', valign='top')
									table#PlanetStatsGrid.greenText(cellpadding='0', cellspacing='0', style='background-color: black; height: 360px; width: 144px;')
										tr(height='32')
											td(width='32')
												#PlanetImage(style='width: 32px; height: 32px;', title='')
											td(colspan='3', width='110')
												span#TextBlockPlanetType(title='', style='text-align: center;')
										tr(height='20')
											td(colspan='4')  
										tr(height='32')
											td(width='32')
												img(src='img/FoodLarge.png', title='Food Per Turn')
											td(width='64')
												span#TextBlockFoodPerTurn.playerStatusTextRight(title='Food Per Turn')
											td(width='48', colspan='2')  
										tr(height='32')
											td(width='32')
												img(src='img/OreLarge.png', title='Ore Per Turn')
											td(width='64')
												span#TextBlockOrePerTurn.playerStatusTextRight(title='Ore Per Turn')
											td(width='48', colspan='2')  
										tr(height='32')
											td(width='32')
												img(src='img/IridiumLarge.png', title='Iridium Per Turn')
											td(width='64')
												span#TextBlockIridiumPerTurn.playerStatusTextRight(title='Iridium Per Turn')
											td(width='48', colspan='2')  
										tr(height='32')
											td(width='32')
												img(src='img/ProductionLarge.png', title='Production Per Turn')
											td(width='64')
												span#TextBlockProductionPerTurn.playerStatusTextRight(title='Production Per Turn')
											td(width='48', colspan='2')  
										tr(height='20')
											td(colspan='4') Planetary Improvements:
										tr(height='32')
											td(width='32')
												img(src='img/FarmLarge.png', title='Farm Count')
											td(width='64')
												span#PlanetViewFarmCount.playerStatusTextRight(title='Farm Count')
											td(width='16')  
											td(width='32')
												button#ButtonDemolishFarm(width='24', height='24', title='Demolish one Farm') DF
										tr(height='32')
											td(width='32')
												img(src='img/MineLarge.png', title='Mine Count')
											td(width='64')
												span#PlanetViewMineCount.playerStatusTextRight(title='Mine Count')
											td(width='16')  
											td(width='32')
												button#ButtonDemolishMine(width='24', height='24', title='Demolish one Mine') DM
										tr(height='32')
											td(width='32')
												img(src='img/FactoryLarge.png', title='Factory Count')
											td(width='64')
												span#PlanetViewFactoryCount.playerStatusTextRight(title='Factory Count')
											td(width='16')  
											td(width='32')
												button#ButtonDemolishFactory(width='24', height='24', title='Demolish one Factory') DF
										tr(height='32')
											td(width='32')
												img(src='img/ColonyLarge.png', title='Colony Count')
											td(width='64')
												span#PlanetViewColonyCount.playerStatusTextRight(title='Colony Count')
											td(width='16')  
											td(width='32')
												button#ButtonDemolishColony(width='24', height='24', title='Demolish one Colony') DC
										tr(height='32')
											td(width='32')
												img(src='img/SpaceplatformLarge.png', title='Space Platform Count')
											td(width='64')
												span#PlanetViewSpacePlatformCount.playerStatusTextRight(title='Space Platform Count')
											td(width='48', colspan='2')  
								td(width='400')
									table(cellpadding='0', cellspacing='0', style='height: 360px; width: 400px;')
										tr
											td
												table#PopulationAssignments(cellpadding='0', cellspacing='0', style='height: 90px; width: 400px;')
													tr(height='30')
														td(width='55') Farmers:
														td(width='25')
															span#TextBoxFarmers(style='border: 1px;')
														td(width='200')
															#SliderFarmers
													tr(height='30')
														td(width='55') Miners:
														td(width='25')
															span#TextBoxMiners(style='border: 1px;')
														td(width='200')
															#SliderMiners
													tr(height='30')
														td(width='55') Workers:
														td(width='25')
															span#TextBoxWorkers(style='border: 1px;')
														td(width='200')
															#SliderWorkers
										tr
											td
												table#BuildQueue(cellpadding='0', cellspacing='0', style='height: 270px; width: 400px;')
													tr(height='15')
														td(width='180')
															span#ItemsAvailableTextBlock Available Items to Build
														td(width='200')
															span#BuildQueueTextBlock Items in Build Queue
													tr
														td
															table(cellpadding='0', cellspacing='0', style='height: 30px; width: 180px;')
																tr(height='12')
																	td(width='52')
																		span(style='text-align: right;') (Gold
																	td(width='52')
																		span(style='text-align: center;') /  Ore  /
																	td(width='52')
																		span(style='text-align: left;') Iridium)
																	td(width='24', rowspan='2')
																		button#ButtonBuildQueueAddSelectedItem(width='24', height='24', title='Add Selected Item to Build Queue') BQA
																tr(height='12')
																	td(width='52')
																		span#TextBlockCurrentGoldAmount(style='text-align: right;')
																	td(width='52')
																		span#TextBlockCurrentOreAmount(style='text-align: center;')
																	td(width='52')
																		span#TextBlockCurrentIridiumAmount(style='text-align: left;')
														td
															table(cellpadding='0', cellspacing='0', style='width: 200px;')
																tr
																	td(width='200')
																		table(cellpadding='0', cellspacing='0', style='display: inline; width: 200px;')
																			tr(height='16')
																				td(rowspan='2', width='28')
																					button#ButtonBuildQueueRemoveSelectedItem(width='24', height='24', title='Remove Selected Item from Build Queue') BQR
																				td(rowspan='2', width='28')
																					button#ButtonBuildQueueMoveSelectedItemDown(width='24', height='24', title='Move Selected Item Down') BQD
																				td(rowspan='2', width='28')
																					button#ButtonBuildQueueMoveSelectedItemUp(width='24', height='24', title='Move Selected Item Up') BQU
																				td
																					input#BuildLastShipCheckBox(type='checkbox', name='BuildLastShipCheckBox')
																					label#BuildLastShipCheckBoxLabel(for='BuildLastShipCheckBox', style='display: inline;') Build Last Ship
																			tr(height='10')
																				td
																					span#LastShipBuiltTextBlock(style='height: 12px; font-size: 10px; display: inline;')
													tr(height='225')
														td(width='180')
															#ItemsAvailableListBox(style='height: 225px;')
														td(width='200')
															#BuildQueueListBox(style='height: 225px;')
					#sendShipsDialog(style='width: 380px; height: 240px; display: none;')
						table(cellpadding='0', cellspacing='0')
							tr(height='25')
								td(colspan='3', width='380', valign='top')
									table(cellpadding='0', cellspacing='0')
										tr(height='25')
											td(width='180')
												span#SendShipsDialogStatus
											td(width='100')
												button#ButtonSendNoShips(width='75', height='24', title='Send no ships from the Planet') Send None
											td(width='100')
												button#ButtonSendAllShips(width='75', height='24', title='Send all ships on the Planet') Send All
							tr(height='50')
								td(width='140')
									span Scouts:
								td(width='40')
									span#TextBoxScouts 0
								td(width='200')
									#SliderScouts
							tr(height='50')
								td(width='140')
									span Destroyers:
								td(width='40')
									span#TextBoxDestroyers 0
								td(width='200')
									#SliderDestroyers
							tr(height='50')
								td(width='140')
									span Cruisers:
								td(width='40')
									span#TextBoxCruisers 0
								td(width='200')
									#SliderCruisers
							tr(height='50')
								td(width='140')
									span Battleships:
								td(width='40')
									span#TextBoxBattleships 0
								td(width='200')
									#SliderBattleships
					#planetaryConflictDialog(style='width: 380px; height: 220px; display: none;')
						table
							tr(height='200')
								td
									#PlanetaryConflictSummary(style='width: 380px; height: 200px;')
							tr(height='20')
								td
									label
										input#NeverShowPlanetaryConflictPopupsCheckbox(type='checkbox', name='NeverShowPlanetaryConflictPopupsCheckbox')
										| Don't automatically show planetary conflict summaries
					#gameOverDialog(style='width: 380px; height: 210px; display: none;')
						table
							tr(height='210')
								td
									#GameOverSummary(style='width: 380px; height: 210px;')
					#endTurnDialog(style='width: 380px; height: 210px; display: none;')
						table
							tr(height='210')
								td
									#EndTurnSummary(style='width: 380px; height: 210px;')
					td
						// right sidebar
					tr
						td(colspan='3')
							#footer(style='color: white;')
								p
									| Astriarch - Ruler of the Stars html5 version 1.2.1 Copyright 2010
									a(href='http://www.masteredsoftware.com/', target='_blank') Mastered Software
									| , Music by Resonant.
								p
									a(href='astriarch-help.html', target='_blank') Astriarch Help and Tutorial Videos
								p
									a(href='http://www.astriarch.com/', target='_blank') Official Astriarch Site
		// <span id='imageData' />

		script(type='text/javascript').
			$(document).ready(function() {
				var serverConfig = {"port":#{port}};

				Astriarch.View.PageLoadInit(serverConfig);
			});

		script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7797548-5']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
