doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(type='text/javascript', src='js/jquery-1.7.1.min.js')
		script(type='text/javascript', src="js/astriarch/astriarch_base.js")
		script(type='text/javascript', src="js/astriarch/astriarch_shared.js")
		script(type='text/javascript', src="js/server_comm.js")
	body
		block content